* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vw;
}
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    background-color: #191919;
    color: white;
    padding: 2rem 8rem;
    flex-wrap: wrap;
    
    
}

header h1 {
    font-size: 3rem;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

nav ul li {
    
    margin-left: 2rem ;
}

nav ul li a {
    text-decoration: none;
    color: white;
    
}

nav ul li a:hover {
    color: #8e8e8e;
}

nav ul li img {
    width: 24px;
}

nav ul li hr {
    color: white;
}

nav ul li  {
    font-size: 1.5rem;

}

nav ul li:first-child a {
    font-weight: bold;
    
}



/* SECTION REAS MORE CONTAINER */

.top_container {
    display: flex;
    justify-content: space-around;
    
}

.description-left {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: self-start;
    justify-content: space-evenly;
    padding: 3rem 0;
    
}

.description-left p {
    width: 70%;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1rem 0;
}

.description-left h2 {
    font-size: 7rem;
    width: 20rem
}

.description-left button, .description-right button {
    padding: 1rem 2rem;
    background-color: white;
    border: solid 1px #8e8e8e;
    font-size: 2rem;
    cursor: pointer;
}

.container-photo-read-more {
    display: flex;
    width: 40%;
   
}

.container-photo-read-more img {
    width: 100%;
    /* min-width: 158px;
    min-height: 158px; */
    padding: 1rem;

}

.photo-read-more-top, .photo-read-more-bottom {
    margin: 4rem 0;
}

.icon-read-more {
    margin: auto 0 ; 
}

.icon-read-more img {
    width: 40px;
}



/* MIDDLER CONTAINER */

.middler_container{
    display: flex;
}
.middler_container img{
    width: 25%;
}


/* BOTTOM CONTAINER */

.bottom_container {
    display: flex;
    justify-content: space-evenly;
    margin: 8rem 0;
}

.bottom_container img {
    width: 40%;
    height: 40%;
    
}
.description-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 0;
    
}

.description-right h2 {
   font-size: 3rem;
   color: #8e8e8e;
}

.description-right p {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 70%;
    margin: 1rem 0;
}


/* OUR SERVICE */

section hr {
    width: 100%;
    color: #8e8e8e;

}

.our_service_container h2 {
    text-align: center;
    font-size: 3rem;
    margin: 3rem 0;
}


.container-icon-our-service {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    
}

.card-icon-our-service {
    border: 1px solid  #8e8e8e;
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.card-icon-our-service p {
    color: #8e8e8e;
    font-size: 1.9rem;
}


.container-icon-our-service img {
    width: 120px;
   
}


/* RESPONSIVE  */

@media screen and (max-width: 1148px) {

    header {
       justify-content: center;
       /* padding: 1rem 4rem; */
       text-align: center;
    }

    header ul {
        margin-top: 1rem;
    }

    .description-left p, .description-right p {
        width: 100%;
    }

    .description-left h2 {
        font-size: 5rem;
    }

}

@media screen and (max-width: 768px) {
    .top_container, .bottom_container {
        flex-direction: column;
        align-items: center;
        text-align: center;
       
    }

    .description-left, .description-right {
        align-items: center;
    }

    .description-left, .description-left h2, .description-right, .description-right h2 {
        width: 100%;
        font-size: 3rem;
        
    }

    .container-photo-read-more {
        width: 100%;
    }

   
    
}


/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */


