* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: solid 1px red;
}

body {
    width: 100vw;
    height: 100vw;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    background-color: #191919;
    color: white;
    padding: 2rem 8rem
    
}

header h1 {
    font-size: 2.5rem;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    
    margin-left: 2rem ;
}

nav ul li a {
    text-decoration: none;
    color: white;
    
}

nav ul li a:hover {
    color: #8e8e8e;
}

nav ul li img {
    width: 24px;
}

nav ul li hr {
    color: white;
    margin-top: 0.3rem;
}

nav ul li  {
    font-size: 1.5rem;
}

nav ul li:first-child a {
    font-weight: bold;
}

/* --------------------- */
/* SECTION read_more_container */
.top_container {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    margin: 0 2rem 0 4.3rem;
}

/* --------------------- */
/* Descrption left */

.description-left {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: self-start;
    justify-content: space-evenly;
    padding: 2rem 0;
    
}

.description-left p {
    width: 70%;
    font-size: 1.5rem;
    line-height: 2rem;
}

.description-left h2 {
    font-size: 5rem;
    width: 20rem
}

.description-left button, .description-right button {
    padding: 1rem 2rem;
    background-color: white;
    border: solid 1px #8e8e8e;
    font-size: 2rem;
}

.container-photo-read-more {
    display: flex;
    width: 40%;
   
}

.container-photo-read-more img {
    
    padding: 1rem;
}

.photo-read-more-top, .photo-read-more-bottom {
    margin: 4rem 0;
}

.icon-read-more {
    margin: auto 0;
}


/* --------------------- */
/* Middler container */

.middler_container{
    display: flex;
}
.middler_container img{
    width: 25%;
}

/* Bottom container */

.bottom_container {
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 0;
}

.bottom_container img {
    width: 40%;
}
.description-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 0;
    
}

.description-right h2 {
   font-size: 3rem;
   color: #8e8e8e;
}

.description-right p {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 70%;
}

