* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vw;
}

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  background-color: #191919;
  color: white;
  padding: 2rem 8rem;
  flex-wrap: wrap;
}

header h1 {
  font-size: 3rem;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}

nav ul li {
  margin-left: 2rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: #8e8e8e;
}

nav ul li img {
  width: 24px;
}

nav ul li hr {
  color: white;
}

nav ul li {
  font-size: 1.5rem;
}

nav ul li:first-child a {
  font-weight: bold;
}

/* SECTION REAS MORE CONTAINER */

.top_container {
  display: flex;
  justify-content: space-around;
}

.description-left {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: self-start;
  justify-content: space-evenly;
  padding: 3rem 0;
}

.description-left p {
  width: 70%;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1rem 0;
}

.description-left h2 {
  font-size: 7rem;
  width: 20rem;
}

.description-left button,
.description-right button {
  padding: 1rem 2rem;
  background-color: white;
  border: solid 1px #8e8e8e;
  font-size: 2rem;
  cursor: pointer;
}

.container-photo-read-more {
  display: flex;
  width: 40%;
}

.container-photo-read-more img {
  width: 100%;
  /* min-width: 158px;
    min-height: 158px; */
  padding: 1rem;
}

.photo-read-more-top,
.photo-read-more-bottom {
  margin: 4rem 0;
}

.icon-read-more {
  margin: auto 0;
}

.icon-read-more img {
  width: 40px;
}

/* MIDDLER CONTAINER */

.middler_container {
  display: flex;
}

.middler_container img {
  width: 25%;
}

/* BOTTOM CONTAINER */

.bottom_container {
  display: flex;
  justify-content: space-evenly;
  margin: 8rem 0;
}

.bottom_container img {
  width: 40%;
  height: 40%;
}

.description-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem 0;
}

.description-right h2 {
  font-size: 3rem;
  color: #8e8e8e;
}

.description-right p {
  font-size: 1.5rem;
  line-height: 2rem;
  width: 70%;
  margin: 1rem 0;
}

/* OUR SERVICE */

section hr {
  width: 100%;
  color: #8e8e8e;
}

.our_service_container h2 {
  text-align: center;
  font-size: 3rem;
  margin: 3rem 0;
}

.container-icon-our-service {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.card-icon-our-service {
  border: 1px solid #8e8e8e;
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card-icon-our-service p {
  color: #8e8e8e;
  font-size: 1.9rem;
}

.container-icon-our-service img {
  width: 120px;
}

/* RESPONSIVE  */

@media screen and (max-width: 1148px) {
  header {
    justify-content: center;
    /* padding: 1rem 4rem; */
    text-align: center;
  }

  header ul {
    margin-top: 1rem;
  }

  .description-left p,
  .description-right p {
    width: 100%;
  }

  .description-left h2 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .top_container,
  .bottom_container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .description-left,
  .description-right {
    align-items: center;
  }

  .description-left,
  .description-left h2,
  .description-right,
  .description-right h2 {
    width: 100%;
    font-size: 3rem;
  }

  .container-photo-read-more {
    width: 100%;
  }
}

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
.portfolio_container,
.what_we_do_container,
.our_team,
.contact_us_container {
  padding: 50px 100px;
  width: 100%;
}

section h2 {
  font-size: 2.8em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* PORTFOLIO */

.portfolio_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-color: #f2f2f2;
}

.portfolio_container img {
  width: 100%;
  max-height: 500px;
  height: 400px;
  object-fit: cover;
}

.porfolio_user_container {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.card_user_portfolio {
  display: flex;
  flex-direction: column;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.info_user {
  background-color: #ffffff;
  /*height: 220px;*/
  padding: 28px;
}

.info_user h3 {
  font-size: 1.8em;
}

.info_user p {
  font-size: 1.2em;
  margin-top: 20px;
  opacity: 0.7;
  line-height: 27px;
}

.navigation {
  display: flex;
  gap: 8px;
  margin-top: 15px;
}

.bar {
  width: 50px;
  height: 6px;
  border: solid 2px none;
  background-color: #969696;
}

.grey {
  background-color: #dcdcdc;
}

/* WHAT WE DO */

.card_what_we_do {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 2px, rgba(0, 0, 0, 0.17) 0px 10px 10px;
}

.card_what_we_do_left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
  padding: 0 80px;
  border: solid 1px #f2f2f2;
}

.info_what_we_do {
  position: relative;
  bottom: 50px;
}

.card_what_we_do_left h3 {
  font-size: 3em;
  margin-bottom: 40px;
}

.card_what_we_do_left p {
  font-size: 1.1em;
  opacity: 0.7;
  line-height: 23px;
}

.card_what_we_do img {
  width: 50%;
  object-fit: cover;
}

/* OUR TEAM */

.our_team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  width: 100%;
}

.our_team_user_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}

.our_team_user {
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 2px, rgba(0, 0, 0, 0.17) 0px 10px 10px;
}

.our_team_user img {
  width: 100%;
  max-height: 500px;
  height: 420px;
  object-fit: cover;
}

.our_team_info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  height: 140px;
}

.name_our_team {
  font-size: 2em;
  margin-bottom: 10px;
}

.job_our_team {
  font-size: 1.3em;
}

/* CONTACT US */

.contact_us_container {
  width: 100%;
}

.contact_us {
  display: flex;
  justify-content: space-around;
}

.contact_us img {
  width: 45%;
  object-fit: cover;
  object-position: top;
  max-height: 600px;
}

.contact_us_left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.contact_us_left form,
.contact_us_left h3 {
  width: 100%;
}

.contact_us_left form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact_us_left h3 {
  font-size: 2.8em;
  margin-bottom: 30px;
}

.contact_us_left input {
  border-left: none;
  border-right: none;
  border-top: none;
  width: 90%;
  margin: 20px 0;
}

.contact_us_left label {
  font-size: 1.6em;
}

.contact_us_left button {
  width: 90%;
  padding: 10px;
  background-color: white;
  border: 1px solid #969696;
  font-size: 1.4em;
  margin-top: 30px;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 90px 90px 30px 90px;
  background-color: #191919;
  width: 100%;
}

footer h3 {
  font-size: 2.3em;
  margin-bottom: 20px;
}

footer h4 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.social_bloc {
  display: flex;

  justify-content: space-between;
  margin-bottom: 90px;
}

.description_footer {
  width: 23%;
  margin-right: 70px;
}

.description_footer p {
  font-size: 1.2em;
  color: #dcdcdc;
}

.liste_lien_footer {
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  text-decoration: none;
  width: 16%;
}

.liste_lien_footer a {
  text-decoration: none;
  margin: 7px 0;
  color: #dcdcdc;
}

.liste_contact_footer h4 {
  font-size: 1.9em;
}

.contact_p {
  margin: 15px 0;
  font-size: 1.1em;
}

.fa-facebook,
.fa-skype,
.fa-twitter,
.fa-invision {
  color: white;
  font-size: 1.5em;
  margin: 15px 10px 0 0;
}

.copyright {
  font-size: 1.5em;
  color: #dcdcdc;
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
  section {
    padding: 50px 50px;
  }

  .porfolio_user_container,
  .social_bloc,
  .contact_us,
  .card_what_we_do {
    flex-direction: column;
  }

  .liste_lien_footer,
  .liste_contact_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0;
  }

  .card_user_portfolio,
  .our_team_user,
  .description_footer,
  .liste_lien_footer,
  .contact_us_left,
  .card_what_we_do_left,
  .card_what_we_do img {
    width: 100%;
  }

  .card_what_we_do_left {
    padding: 40px 80px;
  }

  .info_what_we_do {
    position: initial;
  }

  .contact_us img {
    display: none;
  }

  .our_team_user_container {
    flex-direction: column;
    gap: 40px;
  }

  .social_bloc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .description_footer {
    margin: 0;
  }

  .description_footer h3 {
    text-align: center;
  }

  .liste_lien_footer,
  .liste_contact_footer {
    width: 42%;
  }

  .copyright {
    text-align: center;
  }
}

@media (min-width: 600px) and (max-width: 992px) {
  .porfolio_user_container,
  .social_bloc {
    flex-direction: column;
  }

  .card_user_portfolio,
  .our_team_user,
  .description_footer,
  .liste_lien_footer,
  .contact_us_left,
  .card_what_we_do_left {
    width: 46%;
  }

  .porfolio_user_container,
  .our_team_user_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
  }

  .card_what_we_do_left {
    padding: 20px;
  }

  .card_what_we_do img {
    width: 60%;
  }

  .info_what_we_do {
    position: initial;
  }

  .social_bloc {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 20px 0;
  }

  .liste_lien_footer,
  .liste_contact_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .description_footer {
    width: 100%;
    text-align: center;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
